extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobres nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Morbi posuere nibh eu libero porta interdum. Pellentesque purus turpis, tristique vitae eros id, pretium gravida nibh. Suspendisse eleifend, dolor ut tempor congue, risus felis tincidunt nulla, in accumsan tellus arcu eu tellus. Nam sed erat vel lacus faucibus auctor. Quisque finibus eros ut justo tempus faucibus. Aenean in iaculis massa. Donec maximus maximus commodo. Mauris efficitur ex at felis aliquet, sed ultricies nibh sollicitudin. Donec quam dolor, aliquam a quam vitae, tempus pretium dui. Donec pulvinar viverra ullamcorper. Quisque porttitor nulla mauris, eu feugiat lectus fringilla vitae. Sed ac rhoncus nisl, et imperdiet eros. Nulla laoreet faucibus erat eget pellentesque. Nullam a ex ac elit varius vulputate ac id dui.

                p augue dolor, maximus eget pellentesque eget, gravida sit amet ex. Nullam ullamcorper elementum ipsum, vel aliquet erat convallis eget. Donec est enim, luctus eget maximus et, faucibus id odio. Nam eu aliquam tortor. Fusce sagittis ultricies nibh ac interdum. Fusce vestibulum eget nisl et ullamcorper. Proin ultricies dui enim, ut volutpat metus bibendum at.
                
                p potenti. Vestibulum id nunc ornare lorem vehicula fringilla pharetra quis magna. Proin molestie sem non quam commodo ornare. Praesent a nisl vel urna efficitur tempor. Cras a diam vel libero accumsan tincidunt quis vel arcu. Duis vitae velit nec lacus ornare feugiat ut a orci. Suspendisse a lorem euismod, suscipit quam venenatis, dictum velit. Cras vitae risus diam. In faucibus est sed dui commodo, at porttitor arcu aliquam. Praesent id tempus nunc, sed aliquet ante.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p potenti. Vestibulum id nunc ornare lorem vehicula fringilla pharetra quis magna. Proin molestie sem non quam commodo ornare. Praesent a nisl vel urna efficitur tempor. Cras a diam vel libero accumsan tincidunt quis vel arcu. Duis vitae velit nec lacus ornare feugiat ut a orci.
                .col-md-4    
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p potenti. Vestibulum id nunc ornare lorem vehicula fringilla pharetra quis magna. Proin molestie sem non quam commodo ornare. Praesent a nisl vel urna efficitur tempor. Cras a diam vel libero accumsan tincidunt quis vel arcu. Duis vitae velit nec lacus ornare feugiat ut a orci.  
                .col-md-4    
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p potenti. Vestibulum id nunc ornare lorem vehicula fringilla pharetra quis magna. Proin molestie sem non quam commodo ornare. Praesent a nisl vel urna efficitur tempor. Cras a diam vel libero accumsan tincidunt quis vel arcu. Duis vitae velit nec lacus ornare feugiat ut a orci.         